<ol class="bookmarks">
  {{#each model as |bookmark|}}
    <li class="bookmarks-item">
      {{#link-to "bookmarks.bookmark" bookmark class="bookmarks-item-link"}}
        {{favicon-image bookmark=bookmark}}
        {{bookmark.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ol>
{{outlet}}
